<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Welcome to Property Mart</h1>
    <p>You are welcome to the number 1 platform for everything real estate, we are glad to have you here.</p>
    <p>Below is a code for you to verify your email, please do not share this with anyone</p>
    <h1>{{ code }}</h1>
</body>
</html>