<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="main">Welcome {{  email }} to vently People, here is your OTP code</p>

    <h2>
        {{ code }}
    </h2>

    <b>Do not share this with anyone</b>
</body>
</html>